.ngo {
	background-color: #c4d8df;
	color: #ffffff;
	margin-bottom: 10px;
	
	&:first-child {
		@include media($mq-Small) {
	    	margin-top: 10px;
	    }
	}

	&:last-child {
		margin-bottom: 0px;
	}

	.ngo-metadata, .ngo-demands {
		
	}

	.ngo-metadata {
		height: 50px;
		//overflow: hidden;
		display: flex;
		padding: 8px;
		flex-wrap: wrap;

		@include media($mq-Small) {
	    	height: auto;
	    }

		.col {
			border-right: 2px solid #4d6f7b;
			color: #4b6f7b;
			font-weight: 300;
			align-self: center;
			padding-left: 10px;
			padding-right: 10px;
			height: 100%;
			flex-grow: 1;

			@include media($mq-Small) {
		    	flex-basis: 100%;
		    	border-right: 0px;
		    }

		    @include media($mq-Large) {
		    	flex-basis: 0;
		    }
			
			&:last-child {
				border-right: 0px;
			}

			&.name {
				font-weight: 500;
				color: #4d6f7b;
				text-align: right;

				@include media($mq-Small) {
			    	text-align: left;
			    }
			}

			&.contact {
				
				.email, .phone {
					display: flex;
					align-items: center;

					span {
						&:last-child {
							padding: 4px;
						}
					}
				}	
			}
		}
	}

	.ngo-demands {
		background-color: #e6ddc0;
		max-height: 200px;
		overflow-y: auto;

		ul {
			padding: 0px;
			margin: 0px;

			li {
				color: #8e6902;
				list-style-type: none;
				font-size: 0.8rem;
				padding-top: 8px;
				padding-left: 8px; 

				&:last-child {
					padding-bottom: 8px;
				}
			}
		}
	}
}