.ngo {
	background-color: #c4d8df;
	color: #ffffff;
	margin-bottom: 10px;
	
	&:first-child {
		margin-top: 10px;
	}

	&:last-child {
		margin-bottom: 0px;
	}

	.col {
		border-right: 2px solid #4d6f7b;
		color: #4b6f7b;
		font-weight: 300;
		align-self: center;
		padding-left: 4px;
		padding-right: 4px;
		width: 33%;
		height: 100%;

		&:last-child {
			border-right: 0px;
		}

		&.name {
			font-weight: 500;
			color: #4d6f7b;
		}

		&.contact {
			
			.email, .phone {
				display: flex;
				align-items: center;

				span {
					&:last-child {
						padding: 4px;
					}
				}
			}	
		}
	}

	.ngo-metadata, .ngo-demands {
		
	}

	.ngo-metadata {
		height: 50px;
		overflow: hidden;
		display: flex;
		padding: 8px;
	}

	.ngo-demands {
		background-color: #e6ddc0;
		max-height: 200px;
		overflow-y: auto;

		ul {
			padding: 0px;
			margin: 0px;

			li {
				color: #8e6902;
				list-style-type: none;
				font-size: 0.8rem;
				padding-top: 8px;
				padding-left: 8px; 

				&:last-child {
					padding-bottom: 8px;
				}
			}
		}
	}
}