.ngo {
	background-color: #c4d8df;
	color: #ffffff;
	margin-bottom: 10px;
	height: 50px;
	overflow: hidden;
	padding: 8px;
	display: flex;
	//justify-content: space-between;

	&:first-child {
		margin-top: 10px;
	}

	&:last-child {
		margin-bottom: 0px;
	}

	.col {
		border-right: 2px solid #4d6f7b;
		color: #4b6f7b;
		font-weight: 300;
		align-self: center;
		padding-left: 4px;
		padding-right: 4px;
		width: 33%;
		height: 100%;

		&:last-child {
			border-right: 0px;
		}

		&.name {
			font-weight: 500;
			color: #4d6f7b;
		}

		&.contact {
			
			.email, .phone {
				display: flex;
				align-items: center;

				span {
					&:last-child {
						padding: 4px;
					}
				}
			}	
		}
	}
}