.ngo-modal {
	background-color: white;
	height: 80%;
	left: 50%;
	margin: auto 0;
	border: 2px solid red; 
	overflow: auto;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 1;
	color: black;
	padding-top: 25px;
	border-radius: 25px;
}

.close-btn {
	background: white;
	border: 2px solid red; 
	border-radius:50px;
	color: red;
	font-size: 2.5em;
	font-weight: bold;
	height:50px;
	line-height:40px;
	margin-right: 3%;
	text-align:center;
	width:50px;
	outline: none;
}