html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Roboto;
}

.relative {
  position: relative
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; 

  .search-results-container {
    //display: flex;
    padding: 10px;

    .ngo-container, .map-container {
      //height: 600px;
      width: 100%;
    }

    .ngo-container {
      //width: 60%;
      //overflow-y: auto;
      //height: 600px;
    }

    .map-container {
     //width: 40%;
     height: 250px;
    }
  } 
}

.loading-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: #fff;
  opacity: 0.7;
  background: #000;
  text-align: center;
  z-index: 999;
}
