html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.relative {
  position: relative
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0.7;
  background: #000;
  text-align: center;
  z-index: 999;
}
